TEMA 1: INTRODUCCIÓN A LOS LENGUAJES DE MARCAS. XML/Practica_examen/Ejercicio1/ejercicio1.dtd

<!ELEMENT relacion (persona*)>
    <!ELEMENT persona (nombre,email*,parentesco?)>
    <!ATTLIST persona sexo CDATA #IMPLIFIED>
    <!ATTLIST persona carnet CDATA #IMPLIFIED>
    <!ELEMENT nombre (#PCDATA)>
    <!ELEMENT email (#PCDATA)>
    <!ELEMENT parentesco (#PCDATA)>
    <!ATTLIST tipo parentesco CDATA #IMPLIFIED>